<?xml version="1.0" encoding="utf-8"?>
<!--
  - Copyright 2013-2014 Matus Chochlik. Distributed under the Boost
  - Software License, Version 1.0. (See accompanying file
  - LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
 -->
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.oglplus.triangle"
>
	<application android:label="@string/triangle_label">
		<activity
			android:name="ExampleActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:launchMode="singleTask"
			android:configChanges="orientation|keyboardHidden"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
	<uses-feature android:glEsVersion="0x00030000"/>
	<uses-sdk android:minSdkVersion="18"/>
</manifest>
